@import "../../styles/Constants";

.title {
    padding: 0;
}

.page {
    border-radius: 20px;
}

.sign-up-form {
    background-color: $whiteBackground;
    padding: 10px;
    border-radius: 20px;
}