@import "../../styles/Constants";


body {
  background-color: $lightBlueBackground;

 .main {
    box-sizing: border-box;
  }  
}

.page {
    background-color: $whiteBackground;
    @include font(17px, 1, $fontColor);
}