@import "../../styles/Constants";

$header-height: 56px;
$nav-height: 48px;
$footer-height: 34px;
$header-height: 56px;
$nav-height: 48px;
$footer-height: 34px;

body {
  margin: 0;

  .main {
    text-align: center;
    box-sizing: border-box;
    min-height: calc(
      100vh - #{$header-height} - #{$nav-height} - #{$footer-height}
    );
  }
}

.page {
    @include font(17px, 1, $fontColor);
    border-radius: 20px;
}

.title {
  padding: 0;
}

.link-style {
  text-decoration: none;
  color: $tealBackground;
}

label{
    @include labelFormInput;
    margin-bottom: 5px;
    text-align: left;
}

input  {
    @include labelFormInput;
    margin: 0 auto;
    border-radius: 3px;
}

input {
  border: 1px solid grey;
  width: 100%;
}

button {
  width: 100%;
}

input:focus {
    outline: 3px solid $tealBackground;
    box-shadow: 0 0 10px $tealBackground;
  }
  
label {
  @include labelFormInput;
  margin: 10px 0;
}

@media (max-width: 525px) {
  form {
    padding: 0;
  }

  input {
    height: 32px;
  }

  .page {
    padding: 10px;
  }
}

h2 {
  color: $blueBackground;
  padding: 10px;
}

.welcome-message-header {
  padding: 80px 0 0 0;
}

.welcome-message {
  @include font(17px, 1.5, $fontColor);
  max-width: 50vw;
  margin: 0 auto;
  padding: 20px 0 50px 0;
  border-bottom: 1px solid $blueBackground;
  margin-bottom: 60px;

}

@media (max-width: 426px) {
.welcome-message-header {
    max-width: 80%;
    margin: 0 auto;
}
  .welcome-message {
    max-width: 80vw;
  }

}