@import "../../styles/Constants";


body {
  background-color: $lightBlueBackground;

 .main {
    box-sizing: border-box;
  }  
}

.page {
    @include font(17px, 1, $fontColor);
}

input {
  border: 1px solid grey;
}

input:focus {
    outline: 3px solid $tealBackground;
    box-shadow: 0 0 10px $tealBackground;
  }




  