@import "../../styles/Constants";


button {
  margin: 20px auto;
  justify-content: center;
  width: 100%;
}

.error-message {    
  @include error;
  margin: 0;
  width: 200px;
  font-size: 12px;
}

.info-message {    
  margin: 12px 0;
  width: 200px;
  font-size: 12px;
}

.password {
  margin-bottom: 0;
}