@import "../../styles/Constants";

form {      
  padding: 0 80px;
}

label {
  @include labelFormInput;
  margin: 10px 0;
}

input {
  margin: 0;
  width: 200px;
}

input:focus {
    outline: 3px solid $tealBackground;
    box-shadow: 0 0 10px $tealBackground;
  }

button {
  margin: 20px auto;
  justify-content: center;
  width: 100%;
}

.error-message {    
  @include error;
  margin: 0;
  width: 200px;
  font-size: 12px;
}

.info-message {    
  margin: 12px 0;
  width: 200px;
  font-size: 12px;
}

.password {
  margin-bottom: 0;
}

@media (max-width: 525px) {
  form {
    padding: 0;
  }

  input {
    height: 32px;
  }
}