@import "../../../styles/Constants.scss";

h1 {
    @include header;  
}

.page {
    background-color: transparent;
}

.report-sighting-header {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    color: black;
}

.report-sighting-form-container {
    padding: 8px 15px 40px 15px;
    background-color: white;
    border-radius: 11px;
    margin: 50px 0;
    overflow: hidden;
}


.create-whale-sighting-form {      
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    padding: 0 30px;
    font-family: $fontFamily;
    // color: white;
    max-width: 800px;
}

input {
    margin-left: 0;
}

label{
    // @include labelFormInput;
    display:flex;
    flex-direction: column;
    // flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 5px;
    border-radius: 3px;
}

 .form-input  {
    // @include labelFormInput;
    display:flex;
    flex-direction: column;
    // flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5px;
    border-radius: 5px;
    width:98.5%;
    padding: 3px 3px;
    border: 2px solid rgb(226, 226, 226);
    font-size: 1rem;
}

    .form-input:focus {
        outline: 2px solid #68A9A1;
    }

.form-label {
    padding-bottom: 3px;
    font-size: 1rem;

}

.label-text{
    display: inline-flex;
    padding-left: 0.1rem;
    padding-bottom: 3px;
}

.form-input-select-species {
    width: 100%;
    align-items: flex-start;
    margin-right: 0;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 6px 3px;
    border: 2px solid rgb(226, 226, 226);
}

.error {    
    @include error;  
}

.required {
    color: $errorFontColor;
   
}

.leaflet-container {
  width: 600px;
  height: 350px;
//   width: 98.5vw;
//   height: 57.55vh;
  display: flex;
  margin: 10px 1px;
  border-radius: 5px;
}

.report-sighting-button {
    width: 100%;
    background-color: $blueBackground;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    text-transform: none;
    padding: 12px 0;
    margin: 15px 0;
}

#upload_widget{
    background-color: $tealBackground;
}

.image-upload-sucessful-container {
    padding: 25px 0 10px 0;
}

.image-upload-sucessful-container p {
    margin-top: 10px 0 0 0;
}

@media (max-width: 755px) {    
    .report-sighting-header {
    font-size: 1rem;
    }

    .leaflet-container {
        width:100.5%;
    }    

    .report-sighting-form-container{
        width: 70vw;
        // font-size: 1rem;
    }

    .form-label, .form-input{
        font-size: 0.8rem;
    }
}


@media (max-width: 425px) {
    .form-input {
        width: 95.1%;
        padding-bottom: 1px;
    }

    .image-upload-sucessful-container p {
    font-size: 0.8rem;
    }

    .leaflet-container {
        width: 99.5%;
        height: 200px;
    } 

        .report-sighting-button {
    margin: 13px 0;
    }
    .form-input-select-species {
    padding: 3px 3px;
    }

}


@media (max-width: 320px) {

    .create-whale-sighting-form {
        padding: 0 15px;
    }
    .form-input {
        width: 94.1%;
        padding-bottom: 0;
    }

    .leaflet-container {
        width: 98.8%;
    } 

    .form-input-select-species {
    padding: 2.5px 3px;
    }

}



