@import "../../styles/Constants";

.QuizSubtitle {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 30px ;
  color: $blueBackground;
  max-width: 60vw;
  margin: 32px auto;
}

.QuizTitle {
  font-size: 35px;
  text-align: center;
  color: $blueBackground;
  margin: 0 auto;
  padding-top: 40px;
}

.FinalResult h1 {
  color: $blueBackground; 
}

.FinalResult h2 {
  padding: 20px;
}

@media (max-width: 770px) {
  .QuizSubtitle {
    font-size: 20px;
    padding: 20px 0 10px;
  }

  .QuizTitle {
    font-size: 30px;
    padding: 30px 0 10px;
  }
}

@media (max-width: 430px) {
  .QuizSubtitle {
    font-size: 15px;
    padding: 10px 0 5px;
  }

  .QuizTitle {
    font-size: 20px;
    padding: 20px 0 5px;
  }
}

@media (max-width: 330px) {
  .QuizSubtitle {
    font-size: 15px;
    padding: 10px 0 5px;
  }

  .QuizTitle {
    font-size: 18px;
    padding: 20px 0 5px;
  }
}

@media (min-width: 1024px) {
  .QuizSubtitle {
    max-width: 60vw;
    margin: 32px auto;
  }
}