@import "../../styles/Constants";


li {
  list-style-type: none;

}

#Question {
  font-size: 22px;
  text-align: left;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.Question {
  margin-left : 100px
}

.Answer {
  display: flex;
  justify-content: left;
  padding-left: 50px;
}

label {
  font-size: 20px;
  text-align: left;
  align-items: start;
  clear: none;
  padding: 0px 1em 0px 8px;
  padding-left: 20px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input[type=radio] {
  float: left;
  margin: 2px 0 0 2px;
  width: 15px;
  height: 15px;
}

button {
  font-size: 25px;
  width: 20%;
  margin-bottom: 3vh;
}

.ErrorMessage {
  color: $errorFontColor;
  font-size: 30px;
}

ul {
  padding-left: 10px;
}

.label-answers {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.FinalResult {
  text-align: center;
}

@media (max-width: 1100px) {
  #Question {
    font-size: 20px;
    padding-left: 20px;
  }

  .Question {
  margin-left : auto
}

  label {
    font-size: 15px;
    align-items: start;
  }

  .Answer {
    padding-left: 20px;
  }

  button {
    font-size: 15px;
  }

  .ErrorMessage {
    font-size: 15px;
  }
}

@media (max-width: 766px) {
  button {
    font-size: 15px;
    margin-bottom: 20vh;
}

  }

@media (max-width: 430px) {
  #Question {
    font-size: 15px;
    padding-left: 15px;
  }
    .Question {
  margin-left : auto
}

  label {
    font-size: 13px;
    padding-left: 15px;
    align-items: start;
  }

  button {
    font-size: 15px;
    margin-bottom: 32vh;
  }

  input[type=radio] {
    width: 5%;

  }
}