@import "../../styles/Constants.scss";

.map {
    width: 60vw;
}

.map-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.species-filter {
    font-size: medium;
    appearance: none;
    height:auto;
    width:200px;
    margin-bottom: 5px;
}

.species-filter:focus {
    outline: 2px solid $tealBackground;
}





