@import "../../styles/Constants.scss";

.map {
    justify-self: center;
}

#map-home-page .leaflet-container {
  width: 80vw;
  position: relative;
  z-index: 0;
  border-radius: 13px;
}

@media (min-width: 1024px) {
    #map-home-page .leaflet-container {
        height: 500px;
        width: 60vw;
    }
}

.map-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.filter-label-text {
    margin-bottom: 3px;
    font-size: 1rem;
    font-family: $fontFamily; 
}

.species-filter {    
    font-family: $fontFamily;
    font-size: 1rem;
    margin-right: 0;
    margin-bottom: 16px;
    border-radius: 5px;
    padding: 6px 3px;
    border: 2px solid rgb(226, 226, 226); 
}

.species-filter:focus {
    outline: 2px solid $tealBackground;
}


@media (max-width: 755px) {    
    .filter-label-text {
        font-size: 0.8rem;
    }
    .species-filter {
         font-size: 0.8rem;
    }
}

@media (max-width: 425px) {
    .filter-label-text {
        font-size: 0.6rem;
    }
    .species-filter{
         font-size: 0.6rem;
    }
}

@media (max-width: 600px) {
    #map-home-page .leaflet-container {
        width: 90vw;
    }
}



