@import "../../styles/Constants";

.title {
    @include h1font;  
}

.login-page {
    background-color: $whiteBackground;
    border-radius: 13px;
    padding: 10px 0 30px;
    width: 50%;
    margin: 32px auto;
}

.login-form {
    width: 80%;
    margin: 0 auto;
}

.label-text{
    display: inline-flex;
}

button {
    @include primaryButton;
    display:flex;
    margin-top: 10px;
    padding: 10px 10px;
    margin-left: 5px;
}

.error {    
    @include error;  
    font-size: 25px;
}

.required {
    color: $errorFontColor;
}

@media (max-width: 600px) {
    .login-page {
        width: 90vw;
    }
}

@media (min-width: 1024px) {
    .login-form {
        max-width: 340px;
    }

    .login-page {
        max-width: 700px;
    }
}
