@import "../../styles/Constants";

.title {
    @include header;  
}

.login-page {
    background-color: $whiteBackground;
    border-radius: 20px;
    padding: 10px;
}

.label-text{
    display: inline-flex;
}

button {
    @include primaryButton;
    display:flex;
    margin-top: 10px;
    width: fit-content;
    padding: 10px 10px;
    margin-left: 5px;
}

.error {    
    @include error;  
    font-size: 25px;
}

.required {
    color: $errorFontColor;
}
