@import "../../styles/Constants";

body {
    background-color: $whiteBackground;
    font-family: $fontFamily;
    color: $fontColor;
}

.leaderboard-header {
  @include font(1.5rem, 2rem, $blueBackground);
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  text-shadow: $lightBlueBackground;
}

.leaderboard {
    width: 80vw;
    height: 340px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $whiteBackground;
    border-radius: 13px;
    box-shadow: 0 4px 24px rgba(37, 78, 112, 0.10);
}

.leaderboard-table {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}

table {
    width: 50vw;
    border-collapse: collapse;
    margin: 20px 0 40px;
    background-color: $whiteBackground;

}

.table-header {
    background-color: $blueBackground;
    padding: 5px 0;
    color: whitesmoke;
}

.narrow-col {
    width: 20%;
}

.wide-col {
    width: 60%;
}

th {
    padding: 10px 0;
    border: 1pt solid whitesmoke;
}

td {
    border: 1pt solid whitesmoke;
    padding: 10px;
    text-align: center;
}

table tr:nth-of-type(even) {
    background-color: $lightBlueBackground;
}

.info-message {
    color: $blueBackground;
    font-size: 1.25em;
    width: 50vw;
}

@media (max-width: 750px) {
    .narrow-col {
        width: 25%;
    }

    .wide-col {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .leaderboard {
        width: 90vw;
    }

    table {
        width: 85vw;
    }

}

@media (max-width: 430px) {
    .info-message {
        font-size: 1em;
    }
    .header {
        padding-top: 0;
    }
}

@media (max-height: 600px) {
    .leaderboard {
        height: 100vh;
    }
}


@media (min-width: 1024px) {
  .leaderboard {
      width: 60vw;
  }
}