@import "../../styles/Constants.scss";

body {
    background-color: $lightBlueBackground;
}

.list-header{
    color: $blueBackground;
}

.pending-sightings-table {
    width: 60vw;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffe8de;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}

.pending-sightings-table-header {
    background-color: $orangeBackground;
    padding: 5px 0;
}

th {
    background-color: $orangeBackground;
    padding: 10px 20px;
    border: 1pt solid $orangeBackground;
}

td {
    border: 1pt solid #ffe8de;
    padding: 5px 0;

}

.pending-sightings-table tr:nth-child(4n+1) td, 
.pending-sightings-table tr:nth-child(4n+2) td {
 background-color: $whiteBackground;
 border: 1pt solid $whiteBackground;
}
